.fondo-negro{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.activar{
    display: none;
}
.img-witdh{
    width: 40%;
}
.estilo-fotos{
    padding: 1%;
    width:100%;
    position: relative;
    top: 12%;
}
.input-subir-foto{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
}
.estilo-personalizado{
    width: 70%;
}