<div class="row">
  <div class="col-lg-8">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Modificar email y nombre</h4>
            <h6 class="card-subtitle">cambia tu nombre, email y foto de perfil</h6>
            <form ngNativeValidate #f="ngForm" (ngSubmit)="guardarUsuario( f.value )" class="form-horizontal p-t-20">
                <div class="form-group row">
                    <label class="col-sm-3 control-label" for="exampleInputuname3">Username*</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.nombre" name="nombre" class="form-control" type="text" placeholder="new Name" required>
                        </div>
                    </div>
                </div>
                <div class="form-group row" *ngIf="!usuario.google">
                    <label class="col-sm-3 control-label" for="exampleInputEmail3">Email*</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.email" name="email" class="form-control" type="email" placeholder="Enter email" required>
                        </div>
                    </div>
                </div>
                <div class="form-group row m-b-0">
                    <div class="offset-sm-3 col-sm-9">
                        <button class="btn btn-success waves-effect waves-light" type="submit"><i class="fa fa-save"></i>Change</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Fotografia del usuario</h4>
        <h6 class="card-subtitle">{{usuario.nombre}}</h6>
        <img  *ngIf="!imagenTemporal" [src]="usuario.imagen | imagen" class="w150" alt="Imagen de usuario">
        <img  *ngIf="imagenTemporal" [src]="imagenTemporal" class="w150" alt="Imagen de usuario">
        
        <div class="container-fluid estilo-personalizado">
                <button class="estilo-fotos btn btn-outline-dark">
                  Elegir Imagen
                  <input (change)="seleccionImagen($event)" type="file" class="custom-file-input input-subir-foto">
                </button>
              </div>
        <br><br>
        <div class="offset-sm-3 col-sm-9">
            <button (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn  btn-block btn-success waves-effect waves-light" type="submit"><i class="fa fa-save"></i>Change</button>
        </div>
      </div>
    </div>
  </div>
</div>