/* You can add global styles to this file, and also import other style files */
.selector {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150{
    width: 4em;
}

.w50pr{
    width: 50%;
}

.w100pr{
    width: 100%;
}

.card-images-settings{
    width: 100%;
    height: 14rem;
}