<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, laboriosam earum. Hic voluptate, dolores error reiciendis aliquid omnis nesciunt architecto molestiae mollitia est dolorem, esse accusantium at voluptates quam aliquam?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, fuga. Quisquam, nisi veritatis, molestiae mollitia deleniti minus aut sint officiis quia hic illo cumque eveniet consequuntur velit, excepturi amet odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo minus provident accusantium quae, ullam quidem minima. Dolorum adipisci minima obcaecati perferendis similique excepturi, totam nesciunt amet sed error in ipsam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veniam eos id nam perferendis quisquam, doloribus dolorum alias quasi maiores nulla voluptatibus, reprehenderit ipsum vel, quis rem eaque tenetur cum?
      </div>
    </div>
  </div>
</div>